table{
	border: solid 1px;
	background-color: #EEEEEE;
	border-spacing: 4px;
	margin: 20px auto 40px auto;
	height: 100%;
}
th,td{
	border:solid 1px;
}
th{
	min-width: fit-content;
	background-color: white;
}
td{
	background: #CCCCFF;
	border-radius: 5px;
	height: 100%;
	text-align: center;
}
td.empty{
	background-color: white;
}
td a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color:black;
	height: 100%;
}
td a:hover{
	text-decoration: underline 1px black;
}
table table{
	border: none;
	background-color: #DDDDDD;
	margin: 0;
}
table table td{
	background: #CCFFCC;
}

strong{
	background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}