<header>
	<div class="blog-title">
		<h2><a href="../top/index.html">薊畑</a></h2>
		<h1>大学記事</h1>
	</div>
	<div class="hamburger">
		<label for="drawer-input" class="drawer-open"><span></span></label>
	</div>
</header>