<!DOCTYPE html>
<html>

<head>
  <title>薊畑</title>
  <meta charset="utf8">
  <link href="src/style.css" rel="stylesheet">
</head>

<body>
  <input id="drawer-input" class="drawer-hidden" type="checkbox">
  <%- include("_header.ejs") %>
  <div class="main-container">
    <main>
      <section class="new-article">
        <h1>新着記事</h1>
        <ol>
          <li>
            <div class="article-container">
              <h1><a href="contents/keisu-class-2a.html">計数工学科の授業 2Aセメ編</a></h1>
              <p>私が 2A セメスターに計数工学科で受けた授業の簡単な紹介です。<br>
                まだコースが分かれていないので、システム・数理で同じ内容だと思います。</p>
            </div>
          </li>
        </ol>
      </section>
    </main>
    <aside>
      <div class="other-sites">
        <h1>関係サイト</h1>
        <ul>
          <li>
            <div class="site-container">
              <a href="https://developer.mozilla.org/ja/docs/Web/HTML/Element">
                <h1>mozilla</h1>
              </a>
              <p>html document</p>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  </div>
  <%- include("../common/_footer.ejs", { depth:1 }); %>>
</body>

</html>