<!DOCTYPE html>
<html>

<head>
  <title>薊畑</title>
  <meta charset="utf8">
  <link href="../src/style.css" rel="stylesheet">
  <link href="./src/style.css" rel="stylesheet">
</head>

<body>
  <input id="drawer-input" class="drawer-hidden" type="checkbox">
  <header>
    <div class="blog-title">
      <h2><a href="../../top/index.html">薊畑</a></h2>
      <h1>大学記事</h1>
    </div>
    <div class="hamburger">
      <label for="drawer-input" class="drawer-open"><span></span></label>
    </div>
  </header>
  <div class="main-container">
    <main>
      <div class="blog-content">
        <h1>計数工学科の授業 2Aセメ編</h1>
        <section>
          <h2>はじめに</h2>
          <p>
            計数工学科では、学生は学科に入ってから半年後に「システムコース」と「数理コース」のどちらかを選び、その後はコースごとに多少異なる授業を受けることになります。<br>
            計数の授業についてネット上で調べると、数理についてはある程度の情報が得られますが、システムに関する情報はあまり見つけられません。<br>
            そこで、この記事ではシステムコースで受けられる授業を大雑把に解説したいと思います。<br>
            <strike>（2Aの授業は数理とシステムで共通なのであまり書く必要はありませんが……）</strike><br>
            <b>ここにある情報は2023年度のものであり、現在の授業内容とは異なる可能性があります。<br></b>
          </p>
        </section>
        <section>
          <h2>時間割</h2>
          クリックするとその授業の場所に飛べます。
          <table>
            <th>
              <th>月曜</th>
              <th>火曜</th>
              <th>水曜</th>
              <th>木曜</th>
              <th>金曜</th>
            </th>
            <tr>
              <th>1限</th>
              <td class="empty"></td><td class="empty"></td><td><a href="#seimei">生命科学概論</a></td></a><td class="empty"></td><td class="empty"></td>
            </tr>
            <tr>
              <th>2限</th>
              <td><a href="#denjiki">電磁気学第一</a></td>
              <td><a href="#netsuriki">統計熱力学</a></td>
              <td><a href="#keisoku">計測通論C</a></td>
              <td><a href="#kaiseki">解析力学</a></td>
              <td><a href="#butsuri">物理数学</a></td>
            </tr>
            <tr>
              <th>3限</th>
              <td><a href="#saiteki">最適化手法</a></td>
              <td><table><tr><th>2A1</th><td><a href="#kairo">回路とシステムの基礎</a></td></tr><tr><th>2A2</th><td><a href="#busshitu">物質科学入門</a></td></tr></table></td>
              <td><a href="#ryoushi">量子力学第一</a></td>
              <td rowspan="2"><a href="#suuriki">数学及力学演習</a></td>
              <td><table><tr><th>2A1</th><td><a href="#kairo">回路とシステムの基礎</a></td></tr><tr><th>2A2</th><td><a href="#busshitu">物質科学入門</a></td></tr></table></td>
            </tr>
            <tr>
              <th>4限</th>
              <td><a href="#suuchi">数値解析</a></td>
              <td><table><tr><th>2A1</th><td><a href="#suuri">基礎数理</a></td></tr><tr><th>2A2</th><td><a href="#ninshiki">認識行動システムの基礎</a></td></tr></table></td>
              <td><a href="#suu1d">数学1D</a></td>
              <td><table><tr><th>2A1</th><td><a href="#suuri">基礎数理</a></td></tr><tr><th>2A2</th><td><a href="#ninshiki">認識行動システムの基礎</a></td></tr></table></td>
            </tr>
          </table>
        </section>
        <section>
          <h2>各授業紹介</h2>
          <section>
            <h3 id="denjiki">月曜２限　電磁気学第一</h3>
            <p>前期で習ったような内容を扱います。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>マクスウェル方程式</li>
              <li>静電磁場</li>
              <li>時間変化する電磁場</li>
              <li>電磁場における相対論（簡単）</li>
              <li>時間発展する電磁場（ダランベルシアン、ポインティングベクトル、遅延・先進ポテンシャルなど）</li>
            </ul>
          </section>
          <section>
            <h3 id="saiteki">月曜３限　最適化手法</h3>
            <p>様々な最適化（x∈Sにおけるf(x)の最大値を求めること）の手法を学びます。ちゃんと理解すれば内容はきれいです。</p>
            <p>以下にある線形計画問題とは、ある行列A, ベクトルb,cに対して、Ax=b, x>=0なる条件の下でcxを最大化する問題のことです。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>ニュートン法</li>
              <li>KKT条件</li>
              <li>単体法（線形計画問題を解くアルゴリズムの一つ）</li>
              <li>ネットワーク単体法（≒最大フロー）</li>
              <li>凸二次計画問題（内点法）</li>
              </ul>
          </section>
          <section>
            <h3 id="suuchi">月曜４限　数値解析</h3>
            <p>コンピュータは有限の計算しかできないので、ある特定の手順を踏むと（もしかすると踏まなくても）精度がガタ落ちします。これを回避する、あるいはこれから逃げられないことを知る方法について学びます。</p>
            <p>担当教員の「これはゴミ（誤差についての）の授業です」という自虐ネタが印象的でした。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>Ax=bを解く方法（LU分解など）</li>
              <li>行列の固有値問題</li>
              <li>ニュートン法</li>
              <li>関数の近似（ラグランジュ補間、スプライン補間など）</li>
              <li>数値積分（複合台形則、DE公式など）</li>
              <li>常微分方程式（陽的オイラー法、陰的オイラー法など）</li>
              </ul>
          </section>
          <section>
            <h3 id="netsuriki">火曜２限　統計熱力学</h3>
            <p>前半で熱力学、後半で統計力学の初歩を扱います。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>熱力学第一、第二法則</li>
              <li>マクスウェルの関係式</li>
              <li>等温、等圧、等エンタルピー過程など</li>
              <li>ボルツマン分布</li>
              <li>ミクロカノニカル統計（エネルギー⇒状態数⇒エントロピー⇒温度を求める方法）</li>
              <li>カノニカル統計（温度⇒分配関数⇒エネルギー、自由エネルギー⇒エントロピーなどを求める方法）</li>
            </ul>
          </section>
          <section>
            <h3 id="kairo">火曜３限　回路とシステムの基礎</h3>
            <p>線形システムを題材として、フーリエ変換やラプラス変換など、システム設計をするうえで必須になる知識（多分？）を学びます。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>微分方程式によるシステム解析（変数を電荷Qと置くと、コンデンサの電圧はQ/Cに、抵抗の電圧はQの微分に、コイルの電圧はQの二回微分になる⇒微分方程式にできる）</li>
              <li>交流回路</li>
              <li>フーリエ変換・ラプラス変換</li>
              <li>フィードバック制御</li>
            </ul>
          </section>
          <section>
            <h3 id="busshitu">火曜３限（A2）　物質科学入門</h3>
            <p>知っていると理系の勉強をしたというアピールが出来そうな内容を広範にわたって学べます。</p>
            <p>半導体のバンド理論など、知っておきたい項目が多いと思います。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>結晶構造（ブラべ格子など）</li>
              <li>半導体（バンド理論など）</li>
              <li>物質の色（ローレンツ模型、プラズマ周波数、金属の色など）</li>
              <li>物質と熱（フォノン（格子振動）など）</li>
            </ul>
          </section>
          <section>
            <h3 id="suuri">火曜４限（A1）　基礎数理</h3>
            <p>基礎的な数理を<strong>超スピード</strong>で学びます。授業中の議論のレベルがとても高いです。</p>
            <p>不可が三割出るという噂のある恐ろしい授業ですが、内容は面白かったです。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>集合と位相（写像、束など）</li>
              <li>グラフ（Dilworthの定理など）</li>
              <li>位相（関数の収束、極限、距離空間、閉・開集合、コンパクト）</li>
              <li>行列（Shur標準形、Sylvester標準形、ジョルダン標準形など）</li>
            </ul>
          </section>
          <section>
            <h3 id="ninshiki">火曜４限（A2）　認識行動システムの基礎</h3>
            <p>HCIについてまず数コマの説明を聞き、その後自分たちで何かのプロトタイプを作るグループワークを行います。VRゴーグルなどの貸し出しとArduinoの配布があるので、これらの機器を使用することもできます。<br>
            グループはプログラミング経験者と未経験者が混ざるように分けられるので、未経験者も安心です。</p>

            <p>ただ、プロトタイプといってもあまり制作時間があるわけではないので、プログラミング経験者にとっては過去に経験のあるツールを使って適当なものを作りごまかす授業です。<br>
            プログラミング未経験者にとっては、最終レポートに書く内容分の作業をしたように見せかける授業……だったんじゃないかなと思っています。</p>
            <p>数の少ないA系列の授業ですが、実はこの授業を取らなくても3年以降で充分挽回することができます。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>グループワーク、プレゼンテーション</li>
            </ul>
          </section>
          <section>
            <h3 id="seimei">水曜１限　生命科学概論</h3>
            <p>オムニバス形式で工学から見た生物学について学びます。出席してレポートを2回出せば単位が来ます。</p>
            <p>1限が多いEEICと合同の授業ですが、ほとんどのEEIC生は5日間のうちこの授業のみ取らないようです。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>認知脳科学</li>
              <li>心臓の電気生理</li>
              <li>神経の等価回路による解析</li>
              <li>生態計測（顕微鏡など）</li>
              <li>コンピュータシミュレーション</li>
              <li>バイオメカニクス（血管の特性など）</li>
            </ul>
          </section>
          <section>
            <h3 id="keisoku">水曜２限　計測通論C</h3>
            <p>前後半に分かれ計測について学びます。計数の計を担っている授業です。</p>
            <p>前半ではモアレやフーリエ変換を利用した計測の方法について説明し、後半では現実の様々なセンサについて説明します。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>モアレ</li>
              <li>フーリエ変換の利用法（CTなど）</li>
              <li>様々なセンサ（流速センサ、圧力センサ、熱センサ、加速度センサ……）</li>
            </ul>
          </section>
          <section>
            <h3 id="ryoushi">水曜３限　量子力学第一</h3>
            <p>構造化学で説明された内容をもう一度解説するような授業です。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>波動関数の性質（不確定性関係など）</li>
              <li>一次元波動方程式の様々な場合（井戸型ポテンシャル、階段ポテンシャルなど）</li>
              <li>水素原子の波動関数</li>
              <li>行列力学（ブラ・ケットベクトル、シュレーディンガー・ハイゼンベルク描像など）</li>
            </ul>
          </section>
          <section>
            <h3 id="suu1d">水曜４限　数学1D</h3>
            <p>教養や2Aの他の授業で気が付いたら知っていることにされていた数学を解説してくれる授業です。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>色々な微分方程式（定数分離法、べき級数展開、ジョルダン標準形などなど）</li>
              <li>解析力学</li>
              <li>ベクトル解析</li>
            </ul>
          </section>
          <section>
            <h3 id="kaiseki">木曜２限　解析力学</h3>
            <p>最小作用の原理をもとに、オイラーラグランジュ方程式を立てて物理現象を計算する学問です。最小作用の原理とは、自然現象は作用（ (運動E)-(P.E.) ）を最小にする方法を取るという経験則のことです。オイラーラグランジュ方程式を用いると作用を最小にする経路を求められます。</p>
            <p>授業が進むにつれて体感理解度が下がっていき、恐らく第6回授業くらいで最低値を取ります。諦めずに出席する強い心が必要です。</p>
            <p>担当教員の学生が授業を快適に受けられるようにしてくれようとする姿勢を随所に感じます。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>オイラーラグランジュ方程式</li>
              <li>ネーターの定理</li>
              <li>相対性理論（全く簡単ではない）</li>
              <li>ハミルトニアン</li>
              <li>正準変換</li>
            </ul>
          </section>
          <section>
            <h3 id="suuriki">木曜３・４限　数学及力学演習</h3>
            <p>数学1Dと少しの物理学の演習の授業です。前半が演習問題の解法発表、後半が小テストを解く時間です。
              小テストは事前の予習をがっつりとせずに解ける難易度ではないです（少なくとも私にとっては）。
            </p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>演習問題の発表（スライドを使用）</li>
              <li>小テスト</li>
            </ul>
          </section>
          <section>
            <h3 id="butsuri">金曜２限　物理数学</h3>
            <p>物理の授業（電磁気学第一、統計熱力学、量子力学第一）の演習の授業です。</p>
            <h4>大雑把な内容リスト</h4>
            <ul>
              <li>演習</li>
            </ul>
          </section>
        </section>
        <section>
          <h2>おわりに</h2>
          <p>
            皆様が学科選択をする際の参考となれば幸いです。
          </p>
        </section>
      </div>
    </main>
    <aside>
      <div class="other-sites">
        <h1>関連サイト</h1>
        <ul>
          <li>
            <div class="site-container">
              <a href="https://www.minkou.jp/university/school/review/20180/433/gk=17403/">
                <h1>みんなの大学情報</h1>
              </a>
              <p>計数工学科の口コミ</p>
            </div>
          </li>
          <li>
            <div class="site-container">
              <a href="https://movmovsky.hatenablog.com/entry/2022/09/26/182724">
                <h1>計数工学科の授業をざっくりと紹介します</h1>
              </a>
              <p>数理系の3年生の方の書いた授業紹介記事</p>
            </div>
          </li>
          <li>
            <div class="site-container">
              <a href="https://tobetakoyaki.hatenablog.com/entry/2020/04/11/133004">
                <h1>学部時代の履修をまとめてみました</h1>
              </a>
              <p>4年までの時間割がされています</p>
            </div>
          </li>
          <li>
            <div class="site-container">
              <a href="https://kasega0.hateblo.jp/entry/2020/03/11/224728">
                <h1>何もしてないのに卒業が険しい</h1>
              </a>
              <p>3Aまでの授業紹介です。</p>
              <p class="inyou">結論から言うと、履修計画はB2の間に卒業分までなんとなく決めておこうという話です。</p>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  </div>
  <%- include("../../common/_footer.ejs", { depth:2 }); %>
</body>

</html>