footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #7777ff;
	padding: 30px 20px;
	.navigation {
		min-width: max-content;
		display: flex;
		h1 {
			writing-mode: vertical-rl;
			border-right: 4px solid #aaaaff;
			margin-top: 20px;
			font-size: 30px;
		}
		ul {
			padding-top: 30px;
			list-style: none;
			padding-left: 0px;
			a {
				text-decoration: none;
				color: black;
				li {
					margin-bottom: 0.5em;
					margin-right: 2em;
					border-radius: 10px;
					padding: 0.5em 1em;
					box-shadow: #7272ff 0.2em 0.2em 0.1em;
					&:hover {
						transition: 0.6s;
						background-color: #6666ff;
					}
				}
			}
		}
	}
	.author {
		display: flex;
		align-items: center;
		margin-top: auto;
		img {
			height: 120px;
			width: 120px;
			display: block;
			margin-right: 20px;
		}
	}
}
